<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link href= "stylesheets/style.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div class="main">
      <h1>SIGN IN TO YOUR ACCOUNT</h1>
      <% if (locals.error) { %>
        <p><%= locals.error %></p>
        <% } %>
      <form action="/auth" method="POST">
        <input
          type="email"
          name="email"
          placeholder="murysamy74@gmail.com"
        />
        <input type="password" name="password" placeholder="samy" />
        <button>SIGN IN</button>
      </form>
    </div>
  </body>
</html>