<h2 class="page-header">Edit user</h2>
<form action="/authors/<%= author.userID %>?_method=PUT" method="POST">
  <%- include('_form_fields') %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="javascript:history.back()">Cancel</a>
    <button class="btn btn-primary" type="submit">Update</button>
  </div>
</form>