body{
    overflow-x: hidden;
}
.book-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
    width : 100%;
}

.row > div.image-container {
    width: 200px;
}

.image-container {
	position: relative;
	transition: transform 0.2s;
    width: 200px;
}

.image-container:hover {
	cursor: pointer;
	transform: scale(1.1);
}

.image-container:hover .overlay {
	opacity: 1;
}

.overlay {
	position: absolute;
	background: rgba(0, 0, 0, 0.8);
	transition: 0.5s ease;
	opacity: 0;
	bottom: 0;
    width: 90%;
	font-size: 8px;
	padding: 20px;
	text-align: center;
    color: white;
}


/*
    Partie : Détails d'un livre
*/

.container-details{
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-top : 3%;
}

.up-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 5%;
    word-wrap: break-word;
}

.up-info p{
    word-wrap: break-word;
}

.up-info img{
    margin-left: 5%;
}

.meta-Info{
    margin-top: 8%;
}

.infos-secondaires{
    margin-top:10%;
}

.infos-secondaires p{
    padding-top: 1%;
    padding-bottom: 1%;
    margin:0;
}

.up-summary{
    margin-top: 3%;
    margin-left: 1%;
}